# Core functionality - changes here should be rare!
/src/app.py                   @prabha55555
/src/backend/database.py      @prabha55555
/src/backend/routers/auth.py  @prabha55555

# The frontend will need refactored soon to be more object oriented.
/src/static/   @prabha55555
